.action {
    display: inline-block;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: #5500ff;
}
.action:hover {
    color: #7722ff;
}
.action:active {
    color: #3300dd;
}
