.action {
    display: inline-block;
    font-weight: bold;
    user-select: none;
    cursor: pointer;
    text-decoration: none;
    color: #4aa1aa;
}
.action:hover {
    color: #69c1ca;
}
.action:active {
    color: #528edc;
}
