.button {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin-top: 0.5em;
    height: 2.5em;
    background-color: #5500ff;
    color: #f9f9f9;
    border-radius: 0.25em;
    padding: 0.5em;
    cursor: pointer;
    border: none;
    border-bottom: 0.2em solid #5cba74;
    transition: 0.25s;
}
.button:hover {
    background-color: #7722ff;
}
.button:active {
    top: 0.2em;
    border: none;
}
.button:disabled {
    background-color: #777;
    cursor: default;
}

.button--small {
    font-size: 0.6em;
}

.button--100w {
    width: 100%;
}

.button--secondary {
    background-color: #b66b6b;
    border-bottom-color: #e2abd0;
}
.button--secondary:hover {
    background-color: #c57e7e;
}

.button--topic {
    display: grid;
    grid-template-areas: "left center right";
    grid-template-columns: 1fr auto 1fr;
}