.button {
    display: block;
    margin-top: 0.5em;
    background-color: #5500ff;
    color: #f9f9f9;
    border: none;
    border-radius: 0.25em;
    padding: 0.5em;
    cursor: pointer;
}
.button:hover {
    background-color: #6f27ff;
}

.button--small {
    font-size: 0.6em;
}

.button--100w {
    width: 100%;
}

.button--secondary {
    background-color: #b66b6b;
}
.button--secondary:hover {
    background-color: #c57e7e;
}