.chat {
    display: grid;
    gap: 0.5em;
    grid-template-areas: 
        "users"
        "messages"
        "send";
    margin-bottom: 0;
}

.chat__messages {
    grid-area: messages;
    background-color: #fff;
    border-radius: 0.25em;
    padding: 0 1em;
    word-wrap: anywhere;
}

.chat__messages__header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.chat__messages__list {
    height: calc(100vh - 24.5em);
    overflow-y: auto;
    margin-bottom: 1em;
}

.chat__messages__message {
    margin: 0.25em 0;
}

.chat__users {
    grid-area: users;
    word-wrap: break-word;
    margin-top: auto;
}
.chat__users__header {
    margin-top: 0;
}

.chat__userlist {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    height: 1.7em;
    overflow-y: auto;
}

.chat__userlist__item {
    font-weight: bold;
    display: inline;
    padding-right: 0.5em;
    cursor: pointer;
    color: #6f27ff;
}
.chat__userlist__item--typing {
    color: #299d46;
}

.chat__send {
    grid-area: send;
    margin-bottom: 0.5em;
}

@media (min-width: 600px) {
    .chat__messages__list {
        height: calc(100vh - 20.5em);
    }
}

@media (min-width: 825px) {
    .chat {
        height: calc(100vh - 6em);
        grid-template-areas: 
            "messages users"
            "send .";
        grid-template-columns: 2fr 17em;
        grid-template-rows: auto 3em;
    }

    .chat__userlist {
        height: initial;
    }

    .chat__messages__list {
        height: calc(100vh - 11em);
    }

    .chat__users {
        padding-left: 1em;
        padding-right: 1em;
    }

    .chat__users__header {
        margin-top: 1em;
    }
}