.container {
    margin: auto;
    max-width: 1200px;
    margin-top: 0;
    box-sizing: border-box;
    padding: 0 1em;
    margin-bottom: 1em;
}

.container--white {
    background: #fff;
    padding: 1em;
    border-radius: 0.25em;
}