.form {
    display: flex;
    flex-direction: column;
}

.form__label {
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0.25em;
}

.form__control {
    width: 100%;
    display: block;
}
