.home {
    background-size: cover;
    display: grid;
        grid-template-areas: 
            "header"
            "blurb"
            "login"
            "faq";
    padding: 1em;
}

.home__header {
    grid-area: header;
}

.home__blurb {
    grid-area: blurb;
}

.home__faq {
    grid-area: faq;
    text-align: right;
}

.home__login {
    background-color: #f9f9f9;
    grid-area: login;
    border-radius: 0.25em;
}


@media (min-width: 650px) {
    .home {
        max-width: 800px !important;
    }
    .home__login {
        padding: 1em;
    }

    .home__blurb {
        margin-right: 0.5em;
    }
}